body {
  background-color: rgb(197, 202, 197);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.fa-note-sticky {
  font-size: 20px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 30px;
}

.add,
.delete {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.add:hover,
.delete:hover {
  background-color: rgb(156, 161, 156);
}

.menu i {
  margin-right: 3px;
}
