@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap");

body {
  background-color: rgb(197, 202, 197);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Display", sans-serif;
}

header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.fa-note-sticky {
  font-size: 20px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 30px;
}

.add,
.delete,
.save,
.cancel {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.add:hover,
.delete:hover {
  background-color: rgb(156, 161, 156);
}

.menu i,
.buttons i {
  margin-right: 3px;
}

.popup-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 300px;
  width: 450px;
  display: none;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  justify-content: space-around;
}

.popup-wrapper {
  margin: 0 30px;
}

.popup-add h1,
.popup-add p,
.popup-add input,
.popup-add select {
  width: 100%;
}

.popup-wrapper p {
  margin-bottom: 5px;
}

.popup-add h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.note-input {
  height: 50px;
}

.enter-note-content {
  margin-top: 30px;
}

.buttons {
  margin-top: 20px;
}

.notes {
  margin: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  justify-content: center;
}

.note-work,
.note-shop,
.note-other,
.note {
  width: 200px;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(0, 177, 0);
  font-weight: bold;
}

.title-red {
  background-color: rgb(192, 3, 3);
}

.title-blue {
  background-color: rgb(68, 1, 192);
}

.note-content {
  padding: 10px;
  background-color: rgb(0, 201, 0);
  flex-grow: 1;
  overflow-wrap: break-word;
}

.note-red {
  background-color: rgb(230, 2, 2);
}

.note-blue {
  background-color: rgb(84, 1, 238);
}

.delete-note {
  cursor: pointer;
}

.error {
  font-size: 12px;
  color: red;
  display: none;
}
